In [197]:
import pandas as pd
import re

In [198]:
gt = pd.read_csv("./groundtruth.csv")
answer = pd.read_csv("./output/csv/baseline.csv").drop(columns="Additional treatment")

In [199]:
Morphological_Properties_col = ['Particle size', 'Particle shape', 'Particle distribution', 'Coating layer characteristics', 'Crystal structure and lattice characteristics']

In [200]:
gt = gt.drop(columns=Morphological_Properties_col)
answer = answer.drop(columns=Morphological_Properties_col)

In [203]:
def c_rate_func(x):
    if "C-rate" in x:
        return True
    else: 
        return False

In [204]:
def combine_duplicated_cols(df):
    int_crate_cols = [
        col for col in df.columns
        if re.fullmatch(r"C-rate\s+[0-9]+", col)
    ]    
    
    int2float_map = {}
    for int_col in int_crate_cols:
        int2float_map[f"{int_col}"] = int_col[:7] + f"{float(int_col[7:])}"

    for int_col, float_col in int2float_map.items():
        if float_col in df.columns:
            df[int_col] = df[int_col].combine_first(df[float_col])
            df.drop(columns=float_col, inplace=True)
        df.rename(columns={int_col: float_col}, inplace=True)
    
    return df

In [205]:
gt = combine_duplicated_cols(gt)
answer = combine_duplicated_cols(answer)

In [206]:
gt_c_rate = gt.columns[gt.columns.map(c_rate_func)].to_list()
answer_c_rate = answer.columns[answer.columns.map(c_rate_func)].to_list()

In [207]:
gt_c_rate

['C-rate 0.1',
 'C-rate 0.5',
 'C-rate 1.0',
 'C-rate 2.0',
 'C-rate 0.05',
 'C-rate 5.0',
 'C-rate 10.0',
 'C-rate 20.0',
 'C-rate 40.0',
 'C-rate None',
 'C-rate 0.2',
 'C-rate 4.0',
 'C-rate 6.0']

In [ ]:
answer_c_rate

['C-rate 0.1',
 'C-rate 0.2',
 'C-rate 0.5',
 'C-rate 1.0',
 'C-rate 2.0',
 'C-rate 5.0',
 'C-rate 10.0',
 'C-rate 20.0',
 'C-rate 40.0',
 'C-rate 0.05',
 'C-rate 0.33',
 'C-rate None',
 'C-rate 0.3',
 'C-rate 4.0',
 'C-rate 6.0']

In [6]:
other_c_rate_col = ['C-rate 0.05', 'C-rate 5', 'C-rate 5.0', 'C-rate 10', 'C-rate 20', 
                    'C-rate 40', 'C-rate None', 'C-rate 0.2', 'C-rate 4.0', 'C-rate 6.0', 
                    'C-rate 10.0', 'C-rate 20.0', 'C-rate 40.0', 'C-rate 0.33', 'C-rate 0.3']

In [7]:
paper_id = gt["Paper ID"].unique()

In [8]:
gt.head()

,Paper ID,Sample,Li ratio,Ni ratio,Co ratio,Mn ratio,O ratio,Commercial NCM used,Lithium source,Synthesis method,...,C-rate 5,C-rate 5.0,C-rate 10,C-rate 20,C-rate 40,C-rate None,C-rate 0.2,W ratio,C-rate 4.0,C-rate 6.0
0,11,NR0,1,0.33,0.33,0.33,2,no,LiNO3,solution combustion,...,45.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11,NR1,1,0.33,0.33,0.33,2,no,LiNO3,solution combustion,...,47.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,11,NR3,1,0.33,0.33,0.33,2,no,LiNO3,solution combustion,...,75.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11,NR5,1,0.33,0.33,0.33,2,no,LiNO3,solution combustion,...,95.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,16,NCM,1,0.33,0.33,0.33,2,no,LiAc,sol-gel method,...,NaN,101.7,71.5,44.5,13.2,NaN,NaN,NaN,NaN,NaN

In [9]:
answer.head()

,Paper ID,Sample,Li ratio,Ni ratio,Co ratio,Mn ratio,O ratio,W ratio,Commercial NCM used,Lithium source,...,C-rate 5.0,C-rate 10.0,C-rate 20.0,C-rate 40.0,C-rate 0.05,C-rate 0.33,C-rate None,C-rate 0.3,C-rate 4.0,C-rate 6.0
0,11,NR0,1.00,0.33,0.33,0.33,2.0,NaN,no,LiNO3,...,45.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11,NR1,1.00,0.33,0.33,0.33,2.0,NaN,no,LiNO3,...,47.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,11,NR3,1.00,0.33,0.33,0.33,2.0,NaN,no,LiNO3,...,75.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11,NR5,1.00,0.33,0.33,0.33,2.0,NaN,no,LiNO3,...,95.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,16,NCM,1.01,0.35,0.32,0.32,NaN,NaN,no,LiAc,...,101.7,71.5,44.5,13.2,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
import pandas as pd

def is_number(val):
    try:
        float(val)
        return True
    except:
        return False

# key column 정의
key_cols = ["Paper ID", "Sample"]

# 모든 열 모음 (비교 대상)
all_cols = set(gt.columns) | set(answer.columns)
compare_cols = [col for col in all_cols if col not in key_cols]

# 결과 저장
results = []

# 모든 논문 처리
all_papers = sorted(set(gt["Paper ID"]) | set(answer["Paper ID"]))

for pid in all_papers:
    gt_group = gt[gt["Paper ID"] == pid].reset_index(drop=True)
    ans_group = answer[answer["Paper ID"] == pid].reset_index(drop=True)

    max_len = max(len(gt_group), len(ans_group))

    def pad_df(df, target_len):
        pad_len = target_len - len(df)
        if pad_len <= 0:
            return df
        empty = pd.DataFrame({col: [None] * pad_len for col in df.columns})
        empty["Paper ID"] = pid
        return pd.concat([df, empty], ignore_index=True)

    gt_group = pad_df(gt_group, max_len)
    ans_group = pad_df(ans_group, max_len)

        
    for i in range(max_len):
        row_gt = gt_group.iloc[i]
        row_ans = ans_group.iloc[i]

        result_row = {
            "Paper ID": pid,
            "Sample": row_gt["Sample"] if pd.notna(row_gt["Sample"]) else row_ans["Sample"]
        }

        for col in compare_cols:
            val_gt = row_gt[col] if col in row_gt and col in gt.columns else None
            val_ans = row_ans[col] if col in row_ans and col in answer.columns else None

            try:
                # C-rate 열이고 둘 다 NaN이면, 결과도 NaN
                if "C-rate" in col and pd.isna(val_gt) and pd.isna(val_ans):
                    match = float('nan')
                elif pd.isna(val_gt) and pd.isna(val_ans):
                    match = True
                elif pd.notna(val_gt) and pd.notna(val_ans):
                    if is_number(val_gt) and is_number(val_ans):
                        match = abs(float(val_gt) - float(val_ans)) < 1e-3
                    else:
                        match = str(val_gt).strip() == str(val_ans).strip()
                else:
                    match = False

            except:
                match = False

            result_row[col] = match

        results.append(result_row)

# 결과 DataFrame
df_result = pd.DataFrame(results)

# 누락된 열 채우기 (혹시라도)
for col in compare_cols:
    if col not in df_result.columns:
        df_result[col] = False

# 컬럼 순서 정렬
sorted_cols = ["Paper ID", "Sample"] + sorted(compare_cols)
df_result = df_result[sorted_cols]

# 저장
df_result.to_csv("comparison_with_full_columns_and_rows.csv", index=False)

C:\Users\ghckd\AppData\Local\Temp\ipykernel_56016\1871376670.py:35: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat([df, empty], ignore_index=True)

In [11]:
sort_col = [
    'Paper ID',
    'Sample',
    'Li ratio',
    'Ni ratio',
    'Co ratio',
    'Mn ratio',
    'O ratio',
    'W ratio',
    'Commercial NCM used',
    'Lithium source',
    'Synthesis method',
    'Crystallization method',
    'Crystallization final temperature',
    'Crystallization final duration (hours)',
    'Doping',
    'Coating',
    'Active material to Conductive additive to Binder ratio',
    'Electrolyte salt',
    'Electrolyte concentration',
    'Electrolyte solvent',
    'Electrolyte solvent ratio',
    'Additive',
    'Loading density (mass loading of NCM)',
    'Voltage range',
    'Temperature',
    'C-rate 0.1',
    'C-rate 0.2',
    'C-rate 0.5',
    'C-rate 1.0',
    'C-rate 2.0',
    'C-rate 5.0',
    'C-rate 0.05',
    'C-rate None',
    'C-rate 4.0',
    'C-rate 6.0'
]

In [12]:
df_result = df_result[sort_col]

In [14]:
df_result.loc[df_result["Paper ID"] == 11, "Li ratio":]

,Li ratio,Ni ratio,Co ratio,Mn ratio,O ratio,W ratio,Commercial NCM used,Lithium source,Synthesis method,Crystallization method,...,C-rate 0.1,C-rate 0.2,C-rate 0.5,C-rate 1.0,C-rate 2.0,C-rate 5.0,C-rate 0.05,C-rate None,C-rate 4.0,C-rate 6.0
0,True,True,True,True,True,True,True,True,True,True,...,True,NaN,NaN,True,NaN,False,False,NaN,NaN,NaN
1,True,True,True,True,True,True,True,True,True,True,...,True,NaN,NaN,NaN,NaN,False,False,NaN,NaN,NaN
2,True,True,True,True,True,True,True,True,True,True,...,True,NaN,NaN,NaN,NaN,False,False,NaN,NaN,NaN
3,True,True,True,True,True,True,True,True,True,True,...,True,NaN,NaN,NaN,NaN,False,False,NaN,NaN,NaN

In [104]:
df_result.loc[df_result["Paper ID"] == 11, "Li ratio":].mean().mean()

0.7407407407407407

In [ ]:
# results = []

# # 공통 key
# key_cols = ["Paper ID", "Sample"]

# # 비교할 column들 (공통 열)
# common_cols = list(set(gt.columns) | set(answer.columns))
# common_cols = [col for col in common_cols if col not in key_cols]

# # gt와 answer 모두 정렬
# gt_sorted = gt.sort_values(by=key_cols).reset_index(drop=True)
# answer_sorted = answer.sort_values(by=key_cols).reset_index(drop=True)

# # 모든 row를 하나씩 비교
# for idx in range(len(gt_sorted)):
#     row_gt = gt_sorted.loc[idx]
#     row_pred = answer_sorted.loc[idx]
    
#     result_row = {
#         "Paper ID": row_gt["Paper ID"],
#         "Sample": row_gt["Sample"]
#     }

#     for col in common_cols:
#         if col not in gt.columns:
#             match = False
#         val_gt = row_gt[col]
#         val_pred = row_pred[col]

#         # 숫자 비교 시 오차 허용
#         try:
#             if pd.isna(val_gt) and pd.isna(val_pred):
#                 match = True
#             elif pd.notna(val_gt) and pd.notna(val_pred):
#                 if isinstance(val_gt, (int, float)) and isinstance(val_pred, (int, float)):
#                     match = abs(float(val_gt) - float(val_pred)) < 1e-3
#                 else:
#                     match = str(val_gt).strip() == str(val_pred).strip()
#             else:
#                 match = False
#         except:
#             match = False

#         result_row[col] = match

#     results.append(result_row)

# # 결과 DataFrame으로 변환
# df_result = pd.DataFrame(results)
# df_result.to_csv("comparison_result.csv", index=False)

KeyError: 'C-rate 10.0'

In [ ]:
# list(answer.columns)

['Paper ID',
 'Sample',
 'Li ratio',
 'Ni ratio',
 'Co ratio',
 'Mn ratio',
 'O ratio',
 'W ratio',
 'Commercial NCM used',
 'Lithium source',
 'Synthesis method',
 'Crystallization method',
 'Crystallization final temperature',
 'Crystallization final duration (hours)',
 'Doping',
 'Coating',
 'Active material to Conductive additive to Binder ratio',
 'Electrolyte salt',
 'Electrolyte concentration',
 'Electrolyte solvent',
 'Electrolyte solvent ratio',
 'Additive',
 'Loading density (mass loading of NCM)',
 'Voltage range',
 'Temperature',
 'C-rate 0.1',
 'C-rate 0.2',
 'C-rate 0.5',
 'C-rate 1.0',
 'C-rate 2.0',
 'C-rate 5.0',
 'C-rate 10.0',
 'C-rate 20.0',
 'C-rate 40.0',
 'C-rate 0.05',
 'C-rate 0.33',
 'C-rate None',
 'C-rate 0.3',
 'C-rate 4.0',
 'C-rate 6.0']

In [ ]:
# sort_col = [
#     'Paper ID',
#     'Sample',
#     'Li ratio',
#     'Ni ratio',
#     'Co ratio',
#     'Mn ratio',
#     'O ratio',
#     'W ratio',
#     'Commercial NCM used',
#     'Lithium source',
#     'Synthesis method',
#     'Crystallization method',
#     'Crystallization final temperature',
#     'Crystallization final duration (hours)',
#     'Doping',
#     'Coating',
#     'Active material to Conductive additive to Binder ratio',
#     'Electrolyte salt',
#     'Electrolyte concentration',
#     'Electrolyte solvent',
#     'Electrolyte solvent ratio',
#     'Additive',
#     'Loading density (mass loading of NCM)',
#     'Voltage range',
#     'Temperature',
#     'C-rate 0.1',
#     'C-rate 0.2',
#     'C-rate 0.5',
#     'C-rate 1.0',
#     'C-rate 2.0',
#     'C-rate 5.0',
#     'C-rate 0.05',
#     'C-rate None',
#     'C-rate 4.0',
#     'C-rate 6.0'
# ]

In [ ]:
# df_result[sort_col]

,Paper ID,Sample,Li ratio,Ni ratio,Co ratio,Mn ratio,O ratio,W ratio,Commercial NCM used,Lithium source,...,C-rate 0.1,C-rate 0.2,C-rate 0.5,C-rate 1.0,C-rate 2.0,C-rate 5.0,C-rate 0.05,C-rate None,C-rate 4.0,C-rate 6.0
0,11,NR0,False,True,True,True,False,True,True,True,...,True,True,True,False,True,False,False,True,True,True
1,11,NR1,False,True,True,True,False,True,True,True,...,True,True,True,True,True,False,False,True,True,True
2,11,NR3,False,True,True,True,False,True,True,True,...,True,True,True,True,True,False,False,True,True,True
3,11,NR5,False,True,True,True,False,True,True,True,...,True,True,True,True,True,False,False,True,True,True
4,16,NCM,False,False,False,False,False,True,True,True,...,True,True,True,True,True,True,True,True,True,True
5,16,NCM/C,False,False,True,False,False,True,True,True,...,True,True,True,True,True,True,True,True,True,True
6,22,Pristine,False,True,True,True,False,True,True,True,...,False,True,True,True,True,True,True,True,True,True
7,22,V-0.005,False,True,True,True,False,True,True,True,...,False,True,True,True,True,True,True,True,True,True
8,22,V-0.01,False,True,True,True,False,True,True,True,...,False,True,True,True,True,True,True,True,True,True
9,22,V-0.02,False,True,True,True,False,True,False,True,...,False,True,True,True,True,True,True,True,True,True
10,35,S1bare,False,True,True,True,False,True,False,True,...,True,False,True,True,False,True,False,True,True,True
11,35,S2wash,False,True,True,True,False,True,False,True,...,True,True,True,True,True,True,False,True,True,True
12,35,S3coat,False,True,True,True,False,True,False,True,...,True,False,True,True,False,True,False,True,True,True
13,39,N92,False,True,True,True,False,True,False,True,...,True,True,True,True,True,False,True,True,True,True
14,39,WN92,False,False,True,True,False,False,True,True,...,True,True,True,True,True,False,True,True,True,True
15,40,PC-NCM,False,True,True,True,False,True,True,False,...,True,True,True,False,True,True,False,True,True,True
16,40,SC-NCM83,False,False,False,False,False,True,False,False,...,True,True,True,False,True,True,False,True,True,True
17,41,NCM-811,False,True,True,True,False,True,True,True,...,False,True,True,False,True,True,True,True,True,True
18,41,g-C3N4@NCM-811,False,True,True,True,False,True,True,True,...,False,True,True,False,True,True,True,True,True,True
19,41,g-C3N4NS@NCM-811,False,False,False,False,False,True,True,False,...,False,False,True,True,True,False,True,True,True,True
20,42,N-NCM,False,True,True,True,False,True,False,False,...,False,False,True,True,True,False,True,True,True,True
21,42,SC-NCM,False,False,False,False,False,True,False,False,...,False,False,True,True,True,True,True,True,True,True
22,44,polymer/γ-Al2O3-coated NCM622,False,True,True,True,False,True,False,True,...,True,True,True,True,True,True,True,True,True,True
23,44,pristine NCM622,False,True,True,True,False,True,False,True,...,True,True,True,True,True,True,True,True,True,True
24,56,M-NCM,False,True,True,True,False,True,True,True,...,True,True,True,True,True,True,True,True,True,True
25,56,pristine NCM,False,True,True,True,False,True,False,True,...,True,True,False,True,True,True,True,True,True,True

In [ ]:
# gt[[
#  'C-rate 10.0',
#  'C-rate 20.0',
#  'C-rate 40.0',
#  'C-rate 0.33',
# ]]

KeyError: "None of [Index(['C-rate 10.0', 'C-rate 20.0', 'C-rate 40.0', 'C-rate 0.33'], dtype='object')] are in the [columns]"

In [ ]:
# answer[[
#  'C-rate 10.0',
#  'C-rate 20.0',
#  'C-rate 40.0',
#  'C-rate 0.33',
# ]]

    C-rate 10.0  C-rate 20.0  C-rate 40.0  C-rate 0.33
0           NaN          NaN          NaN          NaN
1           NaN          NaN          NaN          NaN
2           NaN          NaN          NaN          NaN
3           NaN          NaN          NaN          NaN
4          71.5         44.5         13.2          NaN
5         109.4         81.9         54.6          NaN
6           NaN          NaN          NaN          NaN
7           NaN          NaN          NaN          NaN
8           NaN          NaN          NaN          NaN
9           NaN          NaN          NaN          NaN
10          NaN          NaN          NaN        197.0
11          NaN          NaN          NaN        202.0
12          NaN          NaN          NaN        205.0
13          NaN          NaN          NaN          NaN
14          NaN          NaN          NaN          NaN
15          NaN          NaN          NaN          NaN
16          NaN          NaN          NaN          NaN
17          NaN          NaN          NaN          NaN
18          NaN          NaN          NaN          NaN
19          NaN          NaN          NaN          NaN
20          NaN          NaN          NaN          NaN
21          NaN          NaN          NaN          NaN
22          NaN          NaN          NaN          NaN
23          NaN          NaN          NaN          NaN
24          NaN          NaN          NaN          NaN
25          NaN          NaN          NaN          NaN

In [ ]:
# pd.DataFrame(results)

,Paper ID,Sample,Li ratio,Ni ratio,Co ratio,Mn ratio,O ratio,Commercial NCM used,Lithium source,Synthesis method,...,C-rate 5,C-rate 5.0,C-rate 10,C-rate 20,C-rate 40,C-rate None,C-rate 0.2,W ratio,C-rate 4.0,C-rate 6.0
0,0 True 1 True 2 True 3 True Name: ...,0 True 1 True 2 True 3 True Name: ...,0 True 1 True 2 True 3 True Name: ...,0 True 1 True 2 True 3 True Name: ...,0 True 1 True 2 True 3 True Name: ...,0 True 1 True 2 True 3 True Name: ...,0 True 1 True 2 True 3 True Name: ...,0 True 1 True 2 True 3 True Name: ...,0 True 1 True 2 True 3 True Name: ...,0 True 1 True 2 True 3 True Name: ...,...,0 False 1 False 2 False 3 False Na...,0 False 1 False 2 False 3 False Na...,0 False 1 False 2 False 3 False Na...,0 False 1 False 2 False 3 False Na...,0 False 1 False 2 False 3 False Na...,0 False 1 False 2 False 3 False Na...,0 False 1 False 2 False 3 False Na...,0 False 1 False 2 False 3 False Na...,0 False 1 False 2 False 3 False Na...,0 False 1 False 2 False 3 False Na...
1,"4 True 5 True Name: Paper ID, dtype: bool","4 True 5 True Name: Sample, dtype: bool","4 False 5 False Name: Li ratio, dtype: bool","4 False 5 False Name: Ni ratio, dtype: bool","4 False 5 True Name: Co ratio, dtype: bool","4 False 5 False Name: Mn ratio, dtype: bool","4 False 5 False Name: O ratio, dtype: bool","4 True 5 True Name: Commercial NCM used,...","4 True 5 True Name: Lithium source, dtyp...","4 False 5 False Name: Synthesis method, ...",...,"4 False 5 False Name: C-rate 0.05, dtype...","4 True 5 True Name: C-rate 5.0, dtype: bool","4 True 5 True Name: C-rate 5.0, dtype: bool","4 True 5 True Name: C-rate 5.0, dtype: bool","4 True 5 True Name: C-rate 5.0, dtype: bool","4 False 5 False Name: C-rate None, dtype...","4 False 5 False Name: C-rate 0.2, dtype:...","4 False 5 False Name: W ratio, dtype: bool","4 False 5 False Name: C-rate 4.0, dtype:...","4 False 5 False Name: C-rate 6.0, dtype:..."
2,6 True 7 True 8 True 9 True Name: ...,6 False 7 True 8 True 9 True Na...,6 False 7 False 8 False 9 False Na...,6 True 7 True 8 True 9 True Name: ...,6 True 7 True 8 True 9 True Name: ...,6 True 7 True 8 True 9 True Name: ...,6 True 7 True 8 True 9 True Name: ...,6 False 7 True 8 True 9 True Na...,6 True 7 True 8 True 9 True Name: ...,6 False 7 False 8 False 9 False Na...,...,6 False 7 False 8 False 9 False Na...,6 False 7 False 8 False 9 False Na...,6 False 7 False 8 False 9 False Na...,6 False 7 False 8 False 9 False Na...,6 False 7 False 8 False 9 False Na...,6 False 7 False 8 False 9 False Na...,6 False 7 False 8 False 9 False Na...,6 False 7 False 8 False 9 False Na...,6 False 7 False 8 False 9 False Na...,6 False 7 False 8 False 9 False Na...
3,10 True 11 True 12 True Name: Paper I...,"10 True 11 True 12 True Name: Sample,...",10 False 11 False 12 False Name: Li r...,10 True 11 True 12 True Name: Ni rati...,10 True 11 True 12 True Name: Co rati...,10 True 11 True 12 True Name: Mn rati...,10 True 11 True 12 True Name: O ratio...,10 False 11 False 12 False Name: Comm...,10 True 11 True 12 True Name: Lithium...,10 False 11 False 12 False Name: Synt...,...,10 False 11 False 12 False Name: C-ra...,10 False 11 False 12 False Name: C-ra...,10 False 11 False 12 False Name: C-ra...,10 False 11 False 12 False Name: C-ra...,10 False 11 False 12 False Name: C-ra...,10 False 11 False 12 False Name: C-ra...,10 False 11 False 12 False Name: C-ra...,10 False 11 False 12 False Name: W ra...,10 False 11 False 12 False Name: C-ra...,10 False 11 False 12 False Name: C-ra...
4,"13 True 14 True Name: Paper ID, dtype: bool","13 True 14 True Name: Sample, dtype: bool","13 True 14 True Name: Li ratio, dtype: bool","13 True 14 False Name: Ni ratio, dtype:...","13 True 14 True Name: Co ratio, dtype: bool","13 True 14 True Name: Mn ratio, dtype: bool","13 True 14 True Name: O ratio, dtype: bool",13 False 14 True Name: Commercial NCM u...,"13 True 14 True Name: Lithium source, dt...","13 True 14 True Name: Synthesis method, ...",...,"13 False 14 False Name: C-rate 0.05, dty...","13 False 14 False Name: C-rate 5.0, dtyp...","13 False 14 False Name: C-rate 5.0, dtyp...","13 False 14 False Name: C-rate 5.0, dtyp...","13 False 14 False Name: C-rate 5.0, dtyp...","13 False 14 False Name: C-rate None, dty...","13 False 14 False Name: C-rate 0.2, dtyp...","13 False 14 False Name: W ratio, dtype: ...","13 False 14 False Name: C-rate 4.0, dtyp...","13 False 14 False Name: C-rate 6.0, dtyp..."
5,"15 True 16 False Name: Paper ID, dtype:...","15 True 16 False Name: Sample, dtype: bool","15 False 16 True Name: Li ratio, dtype:...","15 True 16 False Name: Ni ratio, dtype:...","15 True 16 False Name: Co ratio, dtype:...","15 True 16 False Name: Mn ratio, dtype:...","15 False 16 True Name: O ratio, dtype: ...",15 True 16 False Name: Commercial NCM u...,"15 False 16 False Name: Lithium source, ...",15 False 16 False Name: Synthesis method...,...,"15 True 16 False Name: C-rate 0.05, dty...","15 False 16 False Name: C-rate 5.0, dtyp...","15 False 16 False Name: C-rate 5.0, dtyp...","15 False 16 False Name: C-rate 5.0, dtyp...","15 False 16 False Name: C-rate 5.0, dtyp...","15 False 16 False Name: C-rate None, dty...","15 False 16 False Name: C-rate 0.2, dtyp...","15 False 16 False Name: W ratio, dtype: ...","15 False 16 False Name: C-rate 4.0, dtyp...","15 False 16 False Name: C-rate 6.0, dtyp..."
6,17 True 18 True 19 False Name: Pape...,17 False 18 False 19 False Name: Samp...,17 True 18 True 19 False Name: Li r...,17 True 18 True 19 False Name: Ni r...,17 True 18 True 19 False Name: Co r...,17 True 18 True 19 False Name: Mn r...,17 True 18 True 19 True Name: O ratio...,17 True 18 True 19 False Name: Comm...,17 False 18 False 19 False Name: Lith...,17 False 18 False 19 False Name: Synt...,...,17 False 18 False 19 False Name: C-ra...,17 False 18 False 19 False Name: C-ra...,17 False 18 False 19 False Name: C-ra...,17 False 18 False 19 False Name: C-ra...,17 False 18 False 19 False Name: C-ra...,17 False 18 False 19 False Name: C-ra...,17 False 18 False 19 False Name: C-ra...,17 False 18 False 19 False Name: W ra...,17 False 18 False 19 False Name: C-ra...,17 False 18 False 19 False Name: C-ra...
7,"20 True 21 False Name: Paper ID, dtype:...","20 False 21 False Name: Sample, dtype: bool","20 True 21 True Name: Li ratio, dtype: bool","20 True 21 False Name: Ni ratio, dtype:...","20 True 21 False Name: Co ratio, dtype:...","20 True 21 False Name: Mn ratio, dtype:...","20 True 21 True Name: O ratio, dtype: bool",20 False 21 True Name: Commercial NCM u...,"20 False 21 False Name: Lithium source, ...","20 True 21 True Name: Synthesis method, ...",...,"20 False 21 False Name: C-rate 0.05, dty...","20 False 21 False Name: C-rate 5.0, dtyp...","20 False 21 False Name: C-rate 5.0, dtyp...","20 False 21 False Name: C-rate 5.0, dtyp...","20 False 21 False Name: C-rate 5.0, dtyp...","20 False 21 False Name: C-rate None, dty...","20 False 21 False Name: C-rate 0.2, dtyp...","20 False 21 False Name: W ratio, dtype: ...","20 False 21 False Name: C-rate 4.0, dtyp...","20 False 21 False Name: C-rate 6.0, dtyp..."
8,"22 True 23 True Name: Paper ID, dtype: bool","22 True 23 True Name: Sample, dtype: bool","22 True 23 True Name: Li ratio, dtype: bool","22 True 23 True Name: Ni ratio, dtype: bool","22 True 23 True Name: Co ratio, dtype: bool","22 True 23 True Name: Mn ratio, dtype: bool","22 True 23 True Name: O ratio, dtype: bool",22 False 23 False Name: Commercial NCM u...,"22 True 23 True Name: Lithium source, dt...","22 True 23 True Name: Synthesis method, ...",...,"22 False 23 False Name: C-rate 0.05, dty...","22 False 23 False Name: C-rate 5.0, dtyp...","22 False 23 False Name: C-rate 5.0, dtyp...","22 False 23 False Name: C-rate 5.0, dtyp...","22 False 23 False Name: C-rate 5.0, dtyp...","22 False 23 False Name: C-rate None, dty...","22 False 23 False Name: C-rate 0.2, dtyp...","22 False 23 False Name: W ratio, dtype: ...","22 False 23 False Name: C-rate 4.0, dtyp...","22 False 23 False Name: C-rate 6.0, dtyp..."
9,"24 True 25 True Name: Paper ID, dtype: bool","24 True 25 True Name: Sample, dtype: bool","24 False 25 False Name: Li ratio, dtype:...","24 True 25 True Name: Ni ratio, dtype: bool","24 True 25 True Name: Co ratio, dtype: bool","24 True 25 True Name: Mn ratio, dtype: bool","24 True 25 True Name: O ratio, dtype: bool",24 False 25 True Name: Commercial NCM u...,"24 True 25 True Name: Lithium source, dt...","24 True 25 True Name: Synthesis method, ...",...,"24 False 25 False Name: C-rate 0.05, dty...","24 True 25 True Name: C-rate 5.0, dtype:...","24 True 25 True Name: C-rate 5.0, dtype:...","24 True 25 True Name: C-rate 5.0, dtype:...","24 True 25 True Name: C-rate 5.0, dtype:...","24 False 25 False Name: C-rate None, dty...","24 False 25 False Name: C-rate 0.2, dtyp...","24 False 25 False Name: W ratio, dtype: ...","24 True 25 False Name: C-rate 4.0, dtyp...","24 True 25 True Name: C-rate 6.0, dtype:..."

In [ ]:
# gt[gt["Paper ID"] == 11]

,Paper ID,Sample,Li ratio,Ni ratio,Co ratio,Mn ratio,O ratio,Commercial NCM used,Lithium source,Synthesis method,...,C-rate 5,C-rate 5.0,C-rate 10,C-rate 20,C-rate 40,C-rate None,C-rate 0.2,W ratio,C-rate 4.0,C-rate 6.0
0,11,NR0,1,0.33,0.33,0.33,2,no,LiNO3,solution combustion,...,45.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11,NR1,1,0.33,0.33,0.33,2,no,LiNO3,solution combustion,...,47.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,11,NR3,1,0.33,0.33,0.33,2,no,LiNO3,solution combustion,...,75.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11,NR5,1,0.33,0.33,0.33,2,no,LiNO3,solution combustion,...,95.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# answer

,Paper ID,Sample,Li ratio,Ni ratio,Co ratio,Mn ratio,O ratio,W ratio,Commercial NCM used,Lithium source,...,C-rate 5.0,C-rate 10.0,C-rate 20.0,C-rate 40.0,C-rate 0.05,C-rate 0.33,C-rate None,C-rate 0.3,C-rate 4.0,C-rate 6.0
0,11,NR0,1.00,0.330,0.33,0.33,2.0,NaN,no,LiNO3,...,45.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11,NR1,1.00,0.330,0.33,0.33,2.0,NaN,no,LiNO3,...,47.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,11,NR3,1.00,0.330,0.33,0.33,2.0,NaN,no,LiNO3,...,75.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11,NR5,1.00,0.330,0.33,0.33,2.0,NaN,no,LiNO3,...,95.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,16,NCM,1.01,0.350,0.32,0.32,NaN,NaN,no,LiAc,...,101.70,71.5,44.5,13.2,NaN,NaN,NaN,NaN,NaN,NaN
5,16,NCM/C,1.03,0.320,0.33,0.34,NaN,NaN,no,LiAc,...,135.80,109.4,81.9,54.6,NaN,NaN,NaN,NaN,NaN,NaN
6,22,pristine,0.98,0.840,0.10,0.06,2.0,NaN,yes,LiOH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,22,V-0.005,0.98,0.840,0.10,0.06,2.0,NaN,no,LiOH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,22,V-0.01,0.98,0.840,0.10,0.06,2.0,NaN,no,LiOH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,22,V-0.02,0.98,0.840,0.10,0.06,2.0,NaN,no,LiOH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,35,S1bare,1.03,0.850,0.10,0.05,2.0,NaN,yes,LiOH,...,NaN,NaN,NaN,NaN,181.0,197.0,NaN,NaN,NaN,NaN
11,35,S2wash,1.03,0.850,0.10,0.05,2.0,NaN,yes,LiOH,...,NaN,NaN,NaN,NaN,183.0,202.0,NaN,NaN,NaN,NaN
12,35,S3coat,1.03,0.850,0.10,0.05,2.0,NaN,yes,LiOH,...,NaN,NaN,NaN,NaN,185.0,205.0,NaN,NaN,NaN,NaN
13,39,N92,1.00,0.920,0.04,0.04,2.0,NaN,yes,LiOH,...,64.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,39,WN92,1.00,0.918,0.04,0.04,2.0,0.0025,no,LiOH,...,159.11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,40,SC-NCM83,1.10,0.830,0.11,0.06,NaN,NaN,no,Li2CO3,...,NaN,NaN,NaN,NaN,199.0,NaN,NaN,NaN,NaN,NaN
16,41,pristine NCM-811,1.00,0.800,0.10,0.10,2.0,NaN,yes,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,41,g-C3N4@NCM-811,1.00,0.800,0.10,0.10,2.0,NaN,yes,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,41,g-C3N4NSs@NCM-811,1.00,0.800,0.10,0.10,2.0,NaN,yes,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,42,SC-NCM,1.11,0.830,0.12,0.05,2.0,NaN,no,Li2CO3,...,166.92,NaN,NaN,NaN,NaN,NaN,NaN,171.6,NaN,NaN
20,42,N-NCM,1.00,0.830,0.12,0.05,2.0,NaN,yes,Li2CO3,...,160.30,NaN,NaN,NaN,NaN,NaN,NaN,150.1,NaN,NaN
21,44,NCM622,1.00,0.600,0.20,0.20,2.0,NaN,yes,LiOH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,44,pristine NCM622,1.00,0.600,0.20,0.20,2.0,NaN,yes,LiOH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,44,polymer/γ-Al2O3-coated NCM622,1.00,0.600,0.20,0.20,2.0,NaN,yes,LiOH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,56,pristine NCM,1.05,0.800,0.10,0.10,2.0,NaN,yes,LiOH,...,159.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,169.8,151.3
25,56,M-NCM,1.05,0.800,0.10,0.10,2.0,NaN,no,LiOH,...,180.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,168.9